body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Montserrat;
}

form > input {
  background-color: var(--forum-seamoss);
  border: 0;
  padding: 10;
  margin: 2px;
  height: 35px;
  width: auto;
  
}

form > input > ::placeholder {
 color: var(--btn-fontcolor);
}

form > button {
  background-color: var(--btn-yellow);
  border: 0;
  margin: 2px;
  height: 35px;
  width: auto;
}