body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Montserrat;
}

form > input {
  background-color: var(--forum-seamoss);
}

form > button {
  background-color: var(--btn-yellow);
  font-weight: 500;
}
form > button:hover {
  opacity: 0.9;
}

form > button:active {
  opacity: 0.9;
  transform: translateY(2px);
}

form > button, form > input {
  color: var(--btn-fontcolor);
  border: 0;
  margin: 2px;
  height: auto;
  width: auto;
}

.progressBar {
  width: 70%;
}

.table, ul {
  background-color: var(--space-grey);
  color: var(--btn-fontcolor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.title {
  font-size: larger !important;
}

.checkbox {
  transform: scale(2);
  padding: 2px;
}

.important {
  padding: 5%;
}
.star {
  float: left;
  padding-right: 5px;
  color: var(--btn-yellow);
}
.link {
  color: var(--bg-green);
}
.link:visited {
  color: var(--bg-green);
}

.link:hover {
  color: var(--btn-yellow);
}

.sub-checkbox, .checkbox {
  margin: 10px;
  color: var(--btn-yellow);
}