body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Montserrat;
}

form > input {
  background-color: var(--forum-seamoss);
}

form > button {
  background-color: var(--btn-yellow);
  font-weight: 550;
}

form > button, form > input {
  border: 0;
  margin: 2px;
  height: auto;
  width: auto;
}

.progressBar {
  width: 50%;
  position: relative;
}

table {
  background-color: var(--space-grey);
  width: 40%;
  color: var(--btn-fontcolor);
}

div {
  color: var(--forum-seamoss);
}
